:root {
  --primary-text-collor: #212121;
  --secondary-text-collor: #757575;
  --white-text-collor: #ffffff;
  --title-text-color: #212121;
  --accent-text-collor: #2196f3;
  --sec-bgc-color: #f5f4fa;
}

body {
  margin: auto;
  background-color: #ffffff;
  color: #212121;
  font-family: 'Roboto', sans-serif;

  /* основний колір     #212121
  другорядний колір     #757575
  білий колір           #FFFFFF
  акривний колір        #2196F3 
  другий колір фону     #2F303A 
  третій колір фону     #F5F4FA*/
}

.list {
  list-style: none;
}

/* Лого */
.logo {
  text-decoration: none;
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.2;
  /* identical to box height */
  letter-spacing: 0.03em;

  color: #2196f3;
}

.logo:hover,
.logo:focus {
  color: var(--accent-text-collor);
}

/* Кнопки */

.btn {
  font-size: 16px;
  line-height: 1.8;
  /* identical to box height, or 188% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--white-text-collor);
  background: var(--accent-text-collor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
  color: var(--white-text-collor);
}

.secondary {
  font-size: 16px;
  line-height: 1.8;
  /* identical to box height, or 188% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--primary-text-collor);
  background: var(--sec-bgc-color);
  border-radius: 4px;
}

.btn .secondary:hover,
.btn .secondary:focus {
  cursor: pointer;
  color: var(--white-text-collor);
  background: var(--accent-text-collor);
}

.secondary.current {
  color: var(--white-text-collor);
  background: var(--accent-text-collor);
}

/* .btn.primary 
  color: var(--white-text-collor);
  background: var(--accent-text-collor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

/* .btn.secondary
  color: var(--white-text-collor);
  background: var(--accent-text-collor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px; */

/* Навігація-сайту */

.site-nav .link {
  color: var(--primary-text-collor);
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-collor);
}

.site-nav .link.current {
  color: var(--accent-text-collor);
}

/* Контакти */

.contact {
  list-style: none;
}

.contact a {
  color: var(--secondary-text-collor);
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.contact a:hover,
.contact a:focus {
  color: var(--accent-text-collor);
}

/* Підвал-сайту */

.footer {
  background-color: #2f303a;
}

.footer-list a {
  color: var(--secondary-text-collor);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */

  letter-spacing: 0.03em;
}

.footer-list a:hover,
.footer-list a:focus {
  color: var(--white-text-collor);
}

.wht {
  color: var(--white-text-collor);
}

.blck {
  color: var(--primary-text-collor);
}

/* Герой */

.hero {
  background-color: #2f303a;
}

.hero-title {
  font-size: 44px;
  line-height: 1.3;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-text-collor);
}

/* Переваги */

.feat-list .title {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.feat-list .text {
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */

  letter-spacing: 0.03em;
  color: var(--secondary-text-collor);
}

/* Чим-займаємося */

.prod-list .title {
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
  color: var(--primary-text-collor);
}

.prod-list .text {
  font-size: 16px;
  line-height: 1.8;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;
  color: var(--secondary-text-collor);
}

/* Команда */

.team {
  font-size: 16px;
  line-height: 1.2;
  /* identical to box height */

  letter-spacing: 0.03em;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;

  color: var(--title-text-color);
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  /* identical to box height */

  letter-spacing: 0.03em;
  color: var(--secondary-text-collor);
}

/* Section */

.section-title {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;

  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
